---
- name: Packages
  ansible.builtin.import_tasks: packages.yml

- name: History Date
  ansible.builtin.import_tasks: historydate.yml

- name: Vimrc
  ansible.builtin.import_tasks: vimrc.yml

- name: Sysstat
  ansible.builtin.import_tasks: sysstat.yml
